:root {
  --color-primary: rgb(23, 23, 23);
  --color-secondary: rgba(0, 0, 0, 0);
  --font-heading: Geist;
  --font-body: Geist;
  --space-1: 1px;
  --space-2: 2px;
  --space-3: 3px;
  --space-4: 4px;
  --space-5: 5px;
  --space-6: 6px;
  --space-7: 6.75px;
  --space-8: 8px;
  --space-9: 10px;
  --space-10: 12px;
  --space-11: 14px;
  --space-12: 16px;
  --space-13: 32px;
  --space-14: 36px;
  --space-15: 40px;
  --space-16: 44px;
  --space-17: 48px;
  --space-18: 90px;
  --space-19: 135px;
}
